<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>

<body onload="hide()">
  <div id="load-page">
    <h1>
      <span>C</span>
      <span>a</span>
      <span>r</span>
      <span>m</span>
      <span>a</span>
      <span>/</span>
      <span>S</span>
      <span>t</span>
      <span>o</span>
      <span>r</span>
      <span>e</span>
    </h1>
  </div>
</body>
<script>
function hide(){
  setTimeout(() => {
    window.location.replace("/dashboard");
  }, 2750);
}
</script>
</html>